@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&subset=latin-ext');

body{
  background-color: white;
  font-family: 'Roboto', 'Arial', sans-serif;
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.navbar{
  padding: .5rem 2rem;
  background-color: white;
  .navbar-brand img{
    width:130px;
  }
}

.carousel{
  margin-bottom:50px;
  margin-top:80px;
}

.navbar-light .navbar-nav .nav-link {
  color:#1d1d1d;
  transition: 0.4s;
  text-align: center;
  &:hover{
    color:#59842c;
  }
  &:focus{
    color:#59842c;
  }
}

.about-us{
  text-align: center;
  padding:20px 80px;
  margin:0 auto;
  background-color:#1d1d1d;
  h1{
    color:#59842c;
    font-size:2.3rem;
  }
  .desc{
    text-align:left;
  }
  .desc{
    h2{
      font-size:23px;
      color:#59842c;
    }
    p{
      color:white;
      line-height: 1.8em;
    }
  }
  .content{
    padding-top:35px;
  }
  @media (max-width: 450px){
    padding:20px 30px;
  }
}

.gallery-container{
  text-align: center;
  margin:30px 0;
  h1{
    padding-bottom:35px;
    color:#59842c;
    font-size:2.3rem;
  }
  .lightbox img{
    transition: 0.5s;
    &:hover{
      transform: scale(1.04);
    }
  }
  .card{
    margin:3px 0;
  }
}

.gallery-container, .gallery{
  @media (min-width:1200px){
    max-width: 1250px;
  }
}

.contact{
  padding:20px 80px;
  margin:0 auto;
  background-color:#1d1d1d;
  h1{
    color:#59842c;
    text-align: center;
    padding-bottom:35px;
    font-size:2.3rem;
  }
  i{
    font-size:50px;
    color:#59842c;
  }
  span{
    color:white;
    padding:0 15px;
  }
  @media (max-width: 450px){
    padding:20px 30px;
  }
}

.adress, .phone, .mail{
  display: flex;
  align-items: center;
  padding:10px 0;
}

.form{
  label{
    color:white;
  }
  input, textarea{
    color:#1d1d1d;
    &:focus{
      box-shadow:none;
      border:1px solid #59842c;
      color:#1d1d1d;
    }
  }
  button{
    float:right;
    font-size:14px;
    background-color:#59842c;
    border:none;
    padding:7px 50px;
    &:hover{
      background-color:#59842c;
    }
  }
  h5{
    color:white;
  }
}


